@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
#answer-input {
    width: 22px;
}

body {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    background: #ffeca4;
}

form {
    /* position: relative; */
    background-color: rgb(243, 253, 146, 0.9);
    border-radius: 15px;
    display: grid;
    justify-content: center;
    justify-items: center;
    width: 500px;
    height: 700px;
    grid-template-columns: 450px;
    border-radius: 65px;
    background: linear-gradient(145deg, #ffeca4, #e2c78a);
    box-shadow: 15px 15px 45px #928059, -15px -15px 45px #ffffd9;
}

.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
}

.head img {
    width: 40px;
    height: 40px;
    padding-right: 150px;
    margin-left: 20px;
}

.head h2 {
    margin-right: 25px;
}

.labels {
    margin: auto;
}

.labels label {
    display: block;
    font-size: 14px;
    font-family: 'Caveat', cursive;
    color: rgb(109, 109, 109, 0.7);
}

.labels input {
    width: 400px;
    height: 38px;
    border: none;
    border-radius: 15px;
    margin-top: 5px;
    background-color: rgba(170, 249, 255, 0.637);
    font-family: 'Caveat', cursive;
    font-size: 22px;
    padding-right: 20px;
}

.validation {
    /* margin-top: 50px; */
    font-family: 'Major Mono Display', monospace;
    font-size: 18px;
    color: rgb(148, 148, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

#answer-input {
    width: 60px;
    height: 28px;
    background-color: rgba(170, 249, 255, 0.637);
    border-radius: 15px;
    margin-left: 10px;
    border: none;
    color: rgb(148, 148, 148);
    font-size: 18px;
    text-align: center;
}

h2 {
    font-family: 'Caveat', cursive;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
}

.buttons a {
    font-family: 'Major Mono Display', monospace;
    font-size: 12px;
    text-align: center;
    color: rgb(0, 0, 0, 0.7);
    margin-right: 75px;
    width: 130px;
    height: 20px;
    border-radius: 12px;
    background-color: rgb(0, 0, 0, 0.1);
    text-decoration: none;
}

.buttons a:hover {
    text-decoration: underline;
}

button {
    background-color: rgba(32, 204, 216, 0.6);
    border: none;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    border-radius: 15px;
    width: 90px;
    height: 35px;
    color: rgba(0, 0, 0, 0.75);
}

button:hover {
    cursor: pointer;
    background-color: rgba(32, 204, 216);
    text-decoration: underline;
}

button:active {
    transform: translateY(2px);
}

input:focus {
    background-color: bisque;
}

#answer-input:focus {
    background-color: bisque;
}
