<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Challanges</title>
    <link rel="stylesheet" href="../static/navStyle.css" />
</head>

<body>
    <h1>Where do you wanna go?</h1>
    <nav>
        <div class="container">
            <div class="home-page sections">
                <a href="../index.html"><span>Home Page</span></a>
            </div>
            <div class="second-challange sections">
                <a href="./converseChallange.html"><span>Challange #2</span></a>
            </div>
        </div>
    </nav>
</body>

</html>